.todo {
  padding: 15px 22px;
  border-top: 1px solid;
}

.todo:first-child {
  border-top: none;
}

button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.footer_button {
  padding: 12px;
}

/* form { */
/* position: relative; */
/* } */

.form-input {
  position: relative;
  border: none;
  /* position: absolute; */
  padding: 14px 10px 14px 60px;
}

input:focus {
  outline: none;
}

.form-circle {
  position: absolute;
  left: 20;
  top: 50%;
  transform: translateY(-50%);
  /* background: linear-gradient(to right, #55ddff, #c058f3); */
}
